@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body#content{
  background-color: #fdd900;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .2rem 1.2rem 0 rgb(141, 147, 151);
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  height:auto;
}

h1{
  font-size: 5rem;
  font-weight: 600;
}

header div{
  padding: 1.2rem;
  margin: 0 auto;
}



main{
  flex: 1;
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
}



section#section-img{
  margin-bottom: .8rem;
}

section#section-status{
  margin-bottom: 3.5rem;
}

#butonChange{
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: rgb(110, 110, 110);
  border: 2px solid rgb(115, 115, 116);
  border-radius: 2rem;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

#butonChange:hover{
  transform: scale(1.1);
  
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:#757575;
  height: 2.7rem;
  width: 100%;
  color: rgb(255, 255, 255);
}

.footer-text{
  margin: 1rem;
}

#link{
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 2rem;
  }
}